/* Style sheet for THE PSYCHOPATHOLOGY OF EVERYDAY THINGS exercise */
:root {
    font-size: 18px;
    line-height: 1.3;
}
* {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Arapey', serif, Arial, Helvetica, sans-serif;
    margin: 10vh;
    color: rgb(20, 20, 24);
}
/******************
Layout for Pages
******************/
h1 {
    text-align: right;
    margin: 0 0 4rem;
    line-height:1;
}
h2 {
    font-size: 1.5rem;
    margin:  0 0 1rem;
}

section {
    position: relative;
    background-color: rgb(245, 245, 245);
    border: solid rgba(0, 0, 0, 0.054) 1px;
    box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.245);
    padding: 3rem;
    margin-bottom: 30px;
    
    /*Width & height of a DINA4 sheet at 150ppi*/
    /* width: 1240px;
    height: 1755px; */

    /*Width & height of a DINA4 sheet at 72ppi*/
    width: 595px;
    height: 842px;
}
p {
    margin-block-start: 0;
}

.page-number {
    position: absolute;
    margin-block-end: 0;
    bottom: 25px;
    right: 3rem;
}

/*********************
Layout for Navigation
*********************/
nav {
    position: fixed;
}
h3 {
    margin: 0;
    font-size: 3rem;
    text-decoration: underline;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    margin: .5rem 0;
}

nav a {
    text-decoration: none;
    color: rgb(20, 20, 24);
    font-size: 1.5rem;
}